<div class="Clase">
    <a [routerLink]="['pc']" routerLinkActive="active">Pc</a>
   
</div>

<div class="TITULO">
    <p>XBOX & BETHESDA GAMES SHOWCASE JUNE 12:10AM PT / 1PM ET / 6PM BST</p>
    <br>
    <P class="P1">Descubre el secreto de una ciudad tomada por fuerzas sobrenaturales en la última aventura de Tango Gameworks.</P>
</div>
<div>
    <img src="assets/Bethesda-Emblem.jpg" alt="">
    </div>


